
PORT_NUMBER=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=

JWT_SECRET_KEY=
REFRESH_SECRET_KEY=
JWT_EXPIRES=
REFRESH_EXPIRES=

#AWS S3
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

AGENT_PASSWORD=

#구글로그인
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

#세션
SESSION_SECRET_KEY=